@import '../Global/app.scss';
@import './spinShapeImage.scss';

.hero {
  position: relative;
  place-items: center;
  margin-bottom: 16rem;
  @include respond-to('large') {
    margin-bottom: 0rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5rem;
    @include respond-to('small') {
      padding-top: 0rem;
    }

    .left-box {
      position: relative;
      left: 2rem;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      z-index: 2;

      @include respond-to('small') {
        gap: 0rem;
        margin-top: 3.5rem;
      }

      &__header {
        font-size: 80px;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        line-height: 5.5rem;
        height: 180px;
        text-shadow: 1px 1px 7px white;
        @include respond-to('small') {
          text-shadow: 1px 1px 5px white;
          font-size: 25px;
          line-height: 1rem;
          height: 150px;
        }
        @include respond-to('medium') {
          font-size: 50px;
          line-height: 4.5rem;
        }
      }
      &__description {
        display: flex;
        font-family: 'Oswald', sans-serif;
        max-width: 25rem;
        text-wrap: wrap;
        text-align: start;
        font-size: 1.3rem;
        line-height: 24px;
        padding-right: 1rem;
        @include respond-to('small') {
          font-size: 1rem;
        }
      }
      &__button {
        margin-top: 2rem;
      }
    }
    .right-box {
      display: flex;
      justify-content: center;
      width: 45%;
      position: relative;
      z-index: 1;
      .image-container {
        position: relative;
        right: 3rem;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        & img {
          object-fit: contain;
          width: 350px;
          height: 350px;
          position: absolute;
          bottom: 0.2rem;
          mix-blend-mode: difference;
          opacity: 0.5;
          z-index: -10;
          overflow: hidden;
        }
        .spin-border {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 350px;
          width: 330px;
          overflow: hidden;
          border: 2px white solid;
          box-shadow: 0 0 15px white;
          animation: spinShape 40s infinite linear;
          z-index: 15;
        }
      }
      @include respond-to('large') {
        display: none;
      }
    }
  }
  .blured-circle {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    background-color: rgb(151, 178, 238);
    z-index: 10;
    bottom: 7rem;
    left: 10rem;
    filter: blur(80px);
    @include respond-to('large') {
      top: 30rem;
      left: 13rem;
    }
  }
  .welcom {
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    color: white;
    justify-self: end;
    grid-row: 2;
    font-size: 10rem;
    opacity: 0.6;
    text-shadow: 1px 1px 10px white;
    z-index: 2;
    @include respond-to('large') {
      font-size: 7.5rem;
      top: 34rem;
    }
    @include respond-to('medium') {
      font-size: 5.0rem;
      top: 36rem;
    }
    @include respond-to('small') {
      font-size: 3.7rem;
      right: 1rem;
      top: 37rem;
    }
  }
  .social-media {
    position: absolute;
    top: 13rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8rem;
    background-color: none;
    z-index: 2;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      button {
        &:hover {
          scale: 1.2;
        }
      }
      a {
        &:hover {
          scale: 1.2;
        }
      }
    }
    &__web-dev {
      position: relative;
      left: 2.5rem;
      opacity: 0.4;
      transform: rotate(90deg);
      text-shadow: 2px 2px 6px white;
    }
  }
}
