.project-image-with-tech {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 90vw;
  &__container {
    overflow: hidden;
    max-height: 70svh;
    width: 90vw;
    border-radius: 2rem;
    &-image {
      width: 100%;

      object-fit: cover;
      object-position: top;

      &:hover {
        animation: scrollDown 5s linear infinite;
      }
    }
  }
  &__info {
    display: flex;
    gap: 0.5rem;
    color: gray;
  }
  &__year {
    display: flex;
    align-items: center;
    border: 1px gray solid;
    font-size: 18px;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: 0 0 3px white;
  }
  &__tech {
    display: flex;
    text-align: justify;
    border: 1px gray solid;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    box-shadow: 0 0 3px white;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1500px);
  }
}
