@import '../../styles/Global/app.scss';

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  color: #1b1b1b;
  padding-top: 5rem;
  max-width: 1300px;
  min-height: 50vh;
  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5rem;
    @include respond-to('medium') {
      padding-bottom: 0rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 90%;
    margin-left: 1rem;
    @include respond-to('large') {
      flex-direction: column;
      align-items: start;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 2.3rem;
    }
  }
  &__copyright {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    @include respond-to('small') {
      font-size: 1rem;
      margin-right: 0rem;
    }
    &-fullname {
      font-weight: 600;
    }
  }
}
