@import '../../styles/Global/app.scss';

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  color: #1b1b1b;
  padding-top: 5rem;

  max-width: 1300px;
  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5rem;
    @include respond-to('medium') {
      padding-bottom: 0rem;
    }
  }
  &__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 60% 40%;
    justify-items: start;
    gap: 3rem;
    width: 90%;

    @include respond-to('medium') {
      grid-template-columns: 100%;
      justify-items: start;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 2.3rem;
    }
  }
  &__copyright {
    font-size: 1.2rem;
    margin-top: auto;
    width: 100%;
    &-fullname {
      font-weight: 600;
    }
  }
}
