@import '../Global//app.scss';

.expirience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 15rem;
  max-width: 1300px;
  margin-inline: auto;
  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
      width: 100%;
      align-self: center;
    }
    .aplication-name {
      font-size: 1.5rem;
      text-decoration: underline;
    }
    .role {
      font-size: 1.2rem;
    }
    .duration {
      font-size: 1.2rem;
    }
    .description {
      width: 90%;
      letter-spacing: 1.5px;
      line-height: 1.5rem;
    }
  }
}
